@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,300&display=swap;family=Montserrat:wght@200;300&family=Raleway:wght@100;200;300;400&family=Roboto:wght@300;400&display=swap');

//font-family: 'Montserrat', sans-serif;
//font-family: 'Roboto', sans-serif;
//font-family: 'Raleway', sans-serif;

$icon-color: #30e3ca;
$text-color: #333333	;
$text-color-2:#f7f7f7;
$deco: #ab003c;
$hover:#8cb62f;

html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;}


html, body {
	font-family: 'Raleway', sans-serif;
	background-color: #e6e6e6!important;
	z-index: -1;

}
.toast{
	//visibility: hidden;
	display: none;
	background-color:$deco;
	color:$text-color-2;
	text-align: center;
	top:5%;
	left:40%;
	position: fixed;
	z-index: 9999;
	
}
.shows{
		visibility: visible;
		animation: fadein 0.5s, fadeout 0.5s 3s;
	}
.inicio{
	height: 100vh;
	width: auto;
	background-image: linear-gradient(to top left,#393f46,#17191c);
	background-size: cover;
	background-position: center;
	.drop{
		position: absolute;
		background:$text-color-2;
		padding: .1rem .1rem .1rem .1rem;
		border-radius:20px;
		&:hover{
			background-color: red;
		}
	}
	#particles-js{
		display: flex;
		justify-content: center;
	}
	section{
		font-family: 'Raleway', sans-serif;
		font-weight: 300;
		position: absolute;
		color: $text-color-2;
		margin: 0;
		overflow: hidden;
		padding: 5em 4em 4em 4em;
		box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.05), inset 0 0.1em 0.1em 0 rgba(0, 0, 0, 0.025);
		text-align: center;
		.line{
				border-top: 1px solid $deco;
				height: 1px;
				max-width: 250px;
				padding: 1em 0 1em 0;
				margin: 20px auto 0 auto;
			}
		.titulo{
			font-size: 2.5rem;
		}
		.text{
			font-size: 1.5rem;
		}
		.button{
			.btn{
				color: $text-color-2;
				font-family: 'Raleway', sans-serif;
				font-weight: 300;
				border-color: $deco!important;
				&:hover{
					background-color: $deco ;
					color:$text-color-2;
				}
				&:focus{
					box-shadow:none!important;
				}
				
			}
		}
	}
}

.main{
	margin: 15px 20px 15px 20px;
	padding: 20px 20px 20px 20px;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
	background-color: white;
	border-radius:5px;
	.section{		
		color: #17191c;
		.title{
			padding-top: 30px;
			font-family: 'Raleway', sans-serif;
			text-align: center;
		}
		p{
			font-family: 'Roboto', sans-serif;
			font-weight: 100;
			text-align: justify;
			font-size: 1.2rem;
			padding: 0px 70px 0px 70px;
			letter-spacing: 1px;
			.marco{
				color:$deco;
				font-weight: bold;
			}

		}
		.line{
				border-top: 1px solid $deco;
				height: 1px;
				max-width: 250px;
				padding: 1em 0 1em 0;
				margin: 20px auto 0 auto;
			}
	}
	.three{		
		.card{
			background-color: #f7f7f7;
			box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
			.card-header{
				padding: 5px 5px 5px 5px!important;
				.card-title{					
					font-family: 'Raleway', sans-serif;
					color: $deco;
					font-size: 1.1rem;
					font-weight: 600;
					padding: 0 1.25rem!important;
				}
				p{
					margin: 0;
				}
			}
			.card-body{
				background-color: $text-color-2;
				.skill{
					//display: block;
					margin: auto;
					text-align: center;
					img{
						display: block;
						width: auto;
						margin: auto;
						height: 40px;						
					}
					span{
						font-size: 1rem;
					}
					.materialize{
							width: auto;
							height: 35px;
					}
					.bootstrap{
							width: auto;
							height: 40px;
					}
					.jquery{
							width: auto;
							height: 30px;
					}
				}

			}
		}
	}
	.four{
		.subs{
			font-family: 'Raleway', sans-serif;
			font-size: 1.2rem;
			font-weight: 500;
		}
		.card{
			background-color: #f7f7f7;
			//box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
			.card-b{
				//padding:5px;
			}			
			.card-b2{
				padding:55px 0 0 0 ;
				float: right;
				.btn{
					border-color: $deco;
					color: $deco;
					text-align: left;
					&:hover{
						background-color: $deco;
						color: #f7f7f7;
					}
				}
			}
			.card-body {
				color: #17191c;
				.titulo{
					color: $deco;
				}
				ul li{
					list-style: none;
					font-size: 1.1rem;
					font-weight: 400!important;
				}
				p span{
					font-style: italic;
					font-weight: 400;
				}
				.badge{
					background-color: $deco!important;
					font-weight: 400!important;
					color: white;
				}
				.card-img-top{
					box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.2);
					transition: transform .2s;
					&:hover{						
						transform: scale(1.01);
					}
				}
			}
			.card-footer{
				.btn{
					font-family: 'Raleway', sans-serif;
					font-weight: 400;
					background-color: $deco!important;
					&:hover{
						background-color: #bb3363!important ;
						color:$text-color-2;
					}
				}
			}
		}
	}
	.five{
		font-family: 'Raleway', sans-serif;
		font-weight: 400;
		input, textarea{
			background-color: #f7f7f7;
			outline-style: none;
			&:focus{
				border-color: $deco!important;
				box-shadow:none!important;
			}
		}
		.btn{
			font-family: 'Raleway', sans-serif;
			font-weight: 400;
			background-color: $deco!important;
			&:hover{
				background-color: #bb3363!important ;
				color:$text-color-2;
			}
		}
	}
}

.footer{
	font-family: 'Raleway', sans-serif!important;
	font-weight: 400;
	background-color: #17191c;
	color: white;
	.myimg{
		width: 100px;
		height: 100px;
		clip-path: circle(50% at 50% 50%);
	}
	.textos{
		margin-top: auto;
		margin-bottom: auto;
		text-align: right;
		padding: 0 10px 0 15px;
	}
	.linev{
		border-left: 1px solid $deco;
		max-width: 450px;
	}
	.foot1{
		display: block;
		text-align: center;
		.texto{
			padding: 15px 0 0 0 ;
		}
	}
	.socialf{
		text-align: center;
		.social .fas, .fab{
			font-size: 1.5rem;
			padding:20px;
			color: white!important;
		}
		.copir{
			color:$deco;
		}
	}
	
}


.header{
	padding:15px 0 0 0;
	position: relative;
	transition: all ease-in-out 1s;
	li a{
		text-decoration: none;
		color: #17191c;
		font-size: 1.1rem;
		&.active{
			background-color: $deco;
			color: white;
			box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
			clip-path: inset(5px round 3px);
		}
		.fas{
			margin-top: auto;
			margin-bottom: auto;
		}
	}
	.only{
		text-align: right;
	}

}

@media  screen and (min-width: 1250px) {
	.foot{
		display: inline-flex!important;
		justify-content: center!important;
		.foot1{
			display: inline-flex!important;
			justify-content: space-around!important;
			.texto{
				text-align: right;
				padding: 0 15px 0 15px;
				margin-top: auto;
				margin-bottom: auto;
				p {
					margin: 0;
				}
			}
		}
		.socialf {
			margin-top: auto;
			margin-bottom: auto;
			.social{
				text-align: left;
				padding: 0 0 8px 15px;
				
				.fab, .fas{
					padding: 0 15px 0 0!important;
				}
			}
			.copir p{
				font-weight: 500;
				margin-bottom: 0;
				padding: 0 0 0px 15px;
			}
		}
	}
	
	
	.linev{
		display: block!important;
	}
}



@media screen and (max-width: 900px)  {	
	.header{
		position:fixed!important;

		nav{		
			display: block;
			left: 0;
			top:50px;
			margin-left: 0;
			position: absolute;
			z-index: 1500;
			background-color: $deco;
			clip-path: inset(5px round 15px);
			transition: all ease-in-out 1s;
			.none{
				display: none;
			}
			li a{
				.fas{
					padding: 2px;
					margin: auto;
				}
			}
			li .active{
				background-color: #e6e6e6!important;
				color:#17191c;
			}
		}
	}
	.linev{
		display: none;
	}
	
	
	.main{
		.section{
			p{
				padding: 0px 0px 0px 0px;
			}
		}
		
	}
	.three{
		.skill{
			padding: 10px 15px 10px 15px!important;
		}
	}
}

@keyframes fadein{
	from {bottom:0; opacity: 0;}
	to{bottom:30px; opacity: 1;}
}

@keyframes fadeout{
	from {bottom:30px; opacity: 1;}
	to{bottom:0; opacity: 0;}
}